# Empty CSS file for your own CSS

a.one:LINK {
	color:black;
}

a.one:VISITED {
	color:black;
}

a.one:HOVER {
	color:grey;
}

a.one:ACTIVE{
	color:black;
}

a.one{
	text-decoration: none;
}
a.one:-webkit-any-link {
    cursor: auto;
}




a.two:LINK {
	color:white;
}

a.two:VISITED {
	color:white;
}

a.two:HOVER {
	color:#DDEEFF;
}

a.two:ACTIVE{
	color:white;
}

a.two{
	text-decoration: none;
}
a.two:-webkit-any-link {
    cursor: auto;
}